.banner {
  position: absolute;
  right: 0;
  top: 0;
  @media (max-width: 850px) {
    display: none;
  }
}
@media (max-width: 1110px) {
  img {
    width: 500px;
  }
}
.text {
  margin: 200px 15vw;
  position: relative;
  width: 320px;
  @media (max-width: 1255px) {
    margin: 200px 10vw;
  }
  @media (max-width: 1185px) {
    margin: 200px 5vw;
  }
  @media (max-width: 850px) {
    margin: 50px auto 100px;
    text-align: center;
  }
  h2 {
    color: rgb(207, 60, 60);
  }
  h3 {
    width: 200px;
    font-size: 30px;
    @media (max-width: 850px) {
      width: auto;
    }
  }
  div {
    margin: 10px 0;
    font-size: 18px;
  }
  button {
    margin-top: 20px;
    width: 150px;
    height: 36px;
    border-radius: 3px;
    background-color: rgb(207, 60, 60);
    color: #fff;
    font-weight: 300;
    cursor: pointer;
  }
  .exercises {
    font-size: 180px;
    position: absolute;
    top: 220px;
    left: -120px;
    color: #ff2625;
    opacity: 0.1;
    z-index: -1;
    @media (max-width: 850px) {
      font-size: 120px;
    }
    @media (max-width: 600px) {
      font-size: 60px;
      top: 225px;
      left: 10px;
    }
  }
}
