.navbar {
  margin: 20px 0 0 40px;
  display: flex;
  align-items: center;
  .links {
    margin-left: 100px;
    display: flex;
    width: 150px;
    justify-content: space-between;
    a {
      font-weight: 300;
      font-size: 20px;
      color: #000;
      text-decoration: none;
    }
    @media (max-width: 850px) {
      margin: 0 auto;
    }
  }
  @media (max-width: 850px) {
    flex-direction: column;
    margin: 20px 0;
  }
}
